.App {
  text-align: center;
}

.topBar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.numbers {
  background-color: black;
  color: red;
  margin: 0px 100px;
  width: 50px;
}

.startButton {
}

.board {
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  background-color: rgb(194, 194, 194);
  height: 30px;
  width: 30px;
  outline: 2px solid;
  outline-color: rgb(114, 114, 114);
}
