.App {
  font-family: monospace;
  text-align: center;
  font-size: 1.4em;
}

.topBar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.number {
  background-color: black;
  color: red;
  margin: 0px 100px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}

.startButton {
  width: 60px;
  font-size: 1.4em;
}

.board {
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  background-color: rgb(194, 194, 194);
  height: 30px;
  width: 30px;
  outline: 2px solid;
  outline-color: rgb(114, 114, 114);
  color: rgb(82, 82, 82);
  cursor: default;
}
.pointer {
  cursor: pointer;
}

.unveiled {
  background-color: rgb(172, 172, 172);
}

.red {
  background-color: rgb(223, 78, 78);
}

.number-1 {
  color: rgb(40, 88, 221);
}
.number-2 {
  color: rgb(38, 134, 0);
}
.number-3 {
  color: rgb(233, 72, 32);
}
.number-4 {
  color: rgb(55, 15, 146);
}
.number-5 {
  color: rgb(94, 14, 14);
}
.number-6 {
  color: rgb(49, 145, 137);
}
.number-7 {
  color: rgb(15, 15, 15);
}
.number-8 {
  color: rgb(226, 226, 226);
}
