.App {
  font-family: monospace;
  text-align: center;
  font-size: 1.4em;
}

.topBar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.number {
  background-color: black;
  color: red;
  margin: 0px 100px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}

.startButton {
  width: 60px;
  font-size: 1.4em;
}

.board {
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  background-color: rgb(194, 194, 194);
  height: 30px;
  width: 30px;
  outline: 2px solid;
  outline-color: rgb(114, 114, 114);
  color: rgb(82, 82, 82);
  cursor: default;
}
.pointer {
  cursor: pointer;
}

.unveiled {
  background-color: rgb(172, 172, 172);
}

.red {
  background-color: rgb(223, 78, 78);
}
